.flex{
  display: flex;
  align-items: center
}
.center{
  justify-content: center
}
.space-between{
  justify-content: space-between
}
.space-around{
  justify-content: space-around
}
.column{
  flex-direction: column
}
.pop{
  display:none;
}
.show{
  display: block;
}
.hide{
  display: none;
}
li{
  list-style: none;
}

/* <-------buttons-------> */
.btn{
  color:#fff;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  padding: 1.5% 4%;
  cursor: pointer;
}
.blue{
  background-color:rgb(71, 184, 233);
}
.green{
  background-color:rgb(42, 174, 46);
}
.red{
  background-color:rgb(220, 70, 70);
}
.cross{
 
  border-radius: 100px;
  padding: 2px 2px;
  font-size: 150%;
  color:#000;
  position: relative;
  top:24%;
  left:79%;
  z-index: 10;
  cursor: pointer;
}

/* <-------PopUp-------> */
.pop{
  z-index: 9;
  /* display: none; */
  position:fixed;
  height:100vh;
  width:100vw;
  background-color: rgba(0, 0, 0, 0.782);
}
.pop-up{
  width:60%;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:3% 3%;
  position: relative;
  /* display: none;
  position:fixed;
  z-index:10; */
  background-color: #fff;
  border-radius: 10px;

}

input{
  padding: 2px 2px;
}
select{
  padding: 2px 2px;
}
span{
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}