.list{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:rgb(251, 214, 227); 
    width:50%;
    height:70%;
    padding:4% 4%;
    border-radius: 30px;
    overflow-y: scroll;
}
@media only screen and (max-width: 480px){
    .list{
        width:70%;
    }
}
.parent{
    position: relative;
    height: 90vh;
}
.list li{
    background-color:#FFF;
    border-radius: 10px;
    padding : 2% 4%;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgb(171, 147, 127);
}
.list li i{
    font-size :120%;
    cursor: pointer;
}
.add_button{
    position: absolute;
    left:85%;
    top: 85%;
    color:rgb(42, 174, 46);
    font-size: 280%;
    text-shadow:0 0 3px #b3a2a2 ;
    cursor:pointer;
}